<h1>Stock Market</h1>
<%= link_to 'Users', controller: 'users' %>

<p>
    Welcome to our App. 
    
</p>

<p>
    You are able to see what stocks you have as well as improvements or changes in those stocks.
</p>
<p>
    Please login or create an account to save. 
</p>