// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
    text-align: center;
    margin:auto;
}

th {
    font-size: 32px;
}
tr {
    font-size: 20px;
}

h1{
    text: center;
}

